@page "{id:int?}"
@model RUserMgmt.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Login
            </th>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th>
                Password
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserData.Users)
        {
            string selectedRow = "";
            if (item.UserId == Model.UserID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @{
                        foreach (var role in item.UsersRoles)
                        {
                            @role.Role.RoleId @:  @role.Role.Name<br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.UserId">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.UserData.Roles!= null)
{
    <h3>Roles assigned to selected user</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
        </tr>

        @foreach (var item in Model.UserData.Roles)
        {
            string selectedRow = "";
            if (item.RoleId == Model.RoleID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Name
                </td>
            </tr>
        }

    </table>
}